<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.smart.retry.mybatis.dao.RetryShardingDao">

	<resultMap id="RetryTaskMAP" type="com.smart.retry.mybatis.entity.RetryShardingDO">
		<result column="id" property="id"/>
		<result column="gmt_create" property="gmtCreate"/>
		<result column="instance_id" property="intanceId"/>
		<result column="status" property="status"/>
		<result column="last_heartbeat" property="lastHeartbeat"/>
	</resultMap>

	<sql id="all_column">
		id,
		gmt_create,
		instance_id,
		status,
		last_heartbeat
	</sql>

	<insert id="insert">
		INSERT INTO retry_sharding (
			gmt_create,
			instance_id,
			status,
			last_heartbeat)
		VALUES (now(),
				#{intanceId},
				#{status},
				#{lastHeartbeat})
	</insert>

	<select id="selectByInstanceId"
			parameterType="java.lang.String"
			resultMap="RetryTaskMAP">
		SELECT <include refid="all_column"/>
		    FROM retry_sharding
		WHERE instance_id = #{instanceId}
	</select>



    <!-- 兼容 PostgreSQL -->
    <update id="scrambleDeadSharding"  parameterType="map">
        WITH expired AS (
        SELECT id
        FROM retry_sharding
        WHERE last_heartbeat &lt; NOW() - (#{timeout}::text || ' seconds')::interval
        ORDER BY id
        LIMIT 1
        )
        UPDATE retry_sharding
        SET
        status = #{status},
        instance_id = #{instanceId},
        last_heartbeat = NOW()
        FROM expired
        WHERE retry_sharding.id = expired.id
    </update>


	<update id="updateLastHeartbeat">
		UPDATE retry_sharding
		SET
		last_heartbeat = now(),
		status = #{status}
		WHERE
		instance_id = #{instanceId}
	</update>


</mapper>